<h1>Movie Details</h1>

<dl>
  <dt>Title</dt>
  <dd><%= @movie.title %></dd>

  <dt>year</dt>
  <dd><%= @movie.year %></dd>

  <dt>duration</dt>
  <dd><%= @movie.duration %></dd>

  <dt>description</dt>
  <dd><%= @movie.description %></dd>

  <dt>image_url</dt>
  <dd><%= @movie.image_url %></dd>

</dl>
